# Additional disk formats supported directly by GW GUI.

disk atarist.810
    cyls = 81
    heads = 2
    tracks * ibm.mfm
        secs = 10
        bps = 512
        gap3 = 30
        rate = 250
        iam = no
    end
end
