# Additional disk formats supported directly by GW GUI.

disk atarist.810
    cyls = 81
    heads = 2
    tracks * ibm.mfm
        secs = 10
        bps = 512
        gap3 = 30
        rate = 250
        iam = no
    end
end

disk amstrad.cpc
    cyls = 40
    heads = 1
    tracks * ibm.mfm
        secs = 9
        bps = 512
        id = 0xc1
        gap3 = 0x4e
        rate = 250
        iam = no
    end
end

disk amstrad.pcw
    cyls = 80
    heads = 2
    tracks * ibm.mfm
        secs = 9
        bps = 512
        gap3 = 0x4e
        rate = 250
        iam = no
    end
end

disk ucsd.ibm.mfm
    cyls = 40
    heads = 1
    tracks * ibm.mfm
        secs = 8
        bps = 512
        gap3 = 0x50
        rate = 250
        iam = no
    end
end
